name: pkgdown

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  release:
    types: [published]
  workflow_dispatch:

permissions: read-all

jobs:
  pkgdown:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_LIBS_USER: '~/.R/library'
      R_PKG_REMOTES: 'https://r-lib.github.io/peerprojects/doc/reference/packages.html'
      R_REMOTES_STANDALONE: 'false'
    
    steps:
      - uses: actions/checkout@v3
      
      - uses: r-lib/actions/setup-pandoc@v2
      
      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true
          r-version: 'release'
          
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libcurl4-openssl-dev libssl-dev libxml2-dev
          
      - name: Create R library directory
        run: mkdir -p ~/.R/library
          
      - name: Install R dependencies
        run: |
          install.packages(c('remotes', 'pkgdown'))
          remotes::install_deps(dependencies = TRUE)
          remotes::install_github("ETC5523-2024/assignment-4-packages-and-shiny-apps-Sravan9991")
        shell: Rscript {0}
          
      - name: Build site
        run: pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)
        shell: Rscript {0}

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
          keep_files: true
          force_orphan: true
